@font-face {
    font-family: "ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lifehack";
    src: url("../fonts/Lifehack Medium.otf") format("truetype");
}

@font-face {
    font-family: "Gagalin";
    src: url("../fonts/Gagalin-Regular.otf") format("truetype");
}